* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.containerToDo {
    width: 100%; 
    min-height: 100vh;
    background: linear-gradient(135deg, #e66465, #9198e5);
    padding: 10px; 
}

.toDoList {
    width: 100%; 
    max-width: 540px;
    background: white; 
    margin : 100px auto 20px;
    padding: 40px 30px 70px; 
    border-radius: 20px; 
}

.toDoList h2 {
    color:rgb(104, 97, 97);
    display: flex; 
    align-items: center;
    margin-bottom: 20px
}

.ToDoListRow{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    background: rgb(208, 202, 202);
    border-radius: 30px; 
    padding-left: 20px; 
}

input{
    flex:1; 
    border: none; 
    outline: none; 
    background: transparent; 
    padding: 10px; 
    font-weight: 14px;
}

button { 
    border: none; 
    outline: none; 
    padding: 16px 50px; 
    background: #1bcd36;
    color: black;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 40px; 
}